.fact-signIn{
  display: -webkit-flex;
  display:         flex;
  -webkit-flex-flow: row;
  flex-flow: row;
  height: 95%;
}


.fact-signIn > .fact-signIn__content-text {
  flex: 1 6 50%;
  order: 1;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-flow: column;
  margin-left: 3rem;
  h2{
    margin-right: 6rem;
  }
  img {
    display: block;
    margin: 2rem 1rem 1rem;
    min-width: 400px;
  }
}

.fact-signIn > .fact-signIn__content{
  flex: 3 1 50%;
  order: 2;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.fact-signIn > .fact-signIn__footer{
  display: block;
  min-height: 100px;
}



/* Too narrow to support three columns */
@media screen and (max-width: 1300px) {

  .fact-signIn {
    -webkit-flex-flow: column;
    flex-flow: column;
  }

  .fact-signIn__content-text {
    display: none !important;
  }
}
fact-sign-in-form {
  background: white;
  padding: 3rem 3rem 1.5rem;
  border-radius: 2rem;
  width: 30rem;
  text-align: center;
  -webkit-box-shadow: 8px 12px 23px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 8px 12px 23px -2px rgba(0,0,0,0.75);
  box-shadow: 8px 12px 23px -2px rgba(0,0,0,0.75);
}
