<div class="fact-signIn">
  <div class="fact-signIn__content-text">
    <h1 >
      Sistema de <br/>Facturación Electrónica
    </h1>
    <h2  style="color: #555555">Basado en la interacción de diversos aplicativos de software que facilitan la generación de facturas de ventas, en modalidad electrónica del Grupo empresarial SIMS</h2>
    <img src="assets/images/iconos.png" width="50%">
  </div>
  <div class="fact-signIn__content">
    <fact-sign-in-form
      (emitterSignIn)="signIn($event)"
      (emitterForgotPsw)="forgotPsw()"
      [isLoading]="signInStatus?.loading"
    ></fact-sign-in-form>
  </div>
</div>
<div class="fact-signIn__footer">
  Copyright © 2020 SIMS TECHNOLOGIES S.A.S
</div>
