<nz-table [nzPageSize]="5" #basicTable  nzSize="small" [nzData]="historical | search: querySearch: servicesTypes.HISTORICAL">
  <thead>
  <tr>
    <th>{{ 'consecutive' | translate }}</th>
    <th>{{ 'company' | translate }}</th>
    <th>{{ 'client' | translate }}</th>
    <th>{{ 'date' | translate }}</th>
    <th [nzAlign]="'right'">{{ 'total' | translate }}</th>
    <th [nzAlign]="'center'">{{ 'state' | translate }}</th>
    <th [nzAlign]="'center'">{{ 'dian' | translate }}</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of basicTable.data">
    <td>{{ data.prefix }} {{ data.consecutive }}</td>
    <td>{{ data.company.name }}</td>
    <td>{{ data.client.name }}</td>
    <td>{{ data.created | date:'short'}}</td>
    <td [nzAlign]="'right'">{{ data.total | currency }} {{ data.currency }}</td>
    <td [nzAlign]="'center'">
      <i *ngIf="data.state" nz-icon nzType="check-circle" nzTheme="twotone" [nzTwotoneColor]="'#39CD32'"></i>
      <i *ngIf="!data.state" nz-icon nzType="close-circle" nzTheme="twotone" [nzTwotoneColor]="'#ff0000'"></i>    </td>
    <td [nzAlign]="'center'" class="fact-table-buttons">
      <a nz-button nzType="link" nzSize="small" [href]="data.urlDian" target="_blank" >
        <i nz-icon nzType="api" nzTheme="outline"  nzTheme="twotone" [nzTwotoneColor]="'#39CD32'"></i>
      </a>
    </td>
  </tr>
  </tbody>
</nz-table>
