<div class ="fact-table-container">
  <nz-card>
    <p class="fact-table-title">{{ 'historical' | translate }}</p>
    <p class="fact-table-label">
      <i nz-icon nzType="info-circle" nzTheme="twotone"></i>
      {{ 'listHistorical' | translate }}
    </p>
    <div class="fact-table-filter">
      <nz-input-group [nzPrefix]="prefixTemplateUser">
        <input type="text"
               nz-input
               name="querySearch"
               [(ngModel)]="querySearch"
               autocomplete="off"
               [placeholder]="'searchPlaceholder' | translate" />
      </nz-input-group>
      <ng-template #prefixTemplateUser><i nz-icon nzType="search" nzTheme="outline"></i></ng-template>
    </div>

    <fact-table-historical
      [historical]="historical | async"
      [querySearch] ="querySearch"
    ></fact-table-historical>
  </nz-card>
</div>
