<nz-layout class="log-s">
  <nz-header>
    <div nz-col nzSpan="4">
      <a [routerLink]="['home']"> <img src="assets/images/Recurso1.svg" width="70px" /></a>
    </div>
    <ul >
      <li *ngFor="let item of mainMenu" >
        <a routerLinkActive="cambio" [routerLink]="[item.path]" class="cr" nz-tooltip [nzTooltipTitle]="item.label | translate" nzTooltipPlacement="bottom"  nzType="primary"  nz-button [nzSize]="'large'" nzShape="circle"><i nz-icon [nzType]="item.icon" ></i></a>
      </li>
      <div class="facturacion-header__card" >
        <nz-card [nzBordered]=false [nzSize]="'small'">
          <div nz-row>
            <div nz-col nzSpan="11">
              <span nz-text>Hola, {{ userInfo.userName | titlecase  |slice:0:8}}</span>
            </div>
            <div nz-col nzSpan="2">
              <nz-divider nzType="vertical"></nz-divider>
            </div>
            <a nz-dropdown [nzDropdownMenu]="menu" [nzPlacement]="'bottomRight'">
              Sesion
              <i nz-icon nzType="down"></i>
            </a>
            <nz-dropdown-menu #menu="nzDropdownMenu">
              <ul nz-menu>
                <li  nz-menu-item [routerLink]="['change']">
                  <i nz-icon nzType="lock" nzTheme="outline"></i>
                  {{ 'changePassword' | translate }}
                </li>
                <li  nz-menu-divider></li>
                <li  nz-menu-item (click)="logOut()">
                  <i nz-icon nzType="logout" nzTheme="outline"></i>
                  {{ 'signOut' | translate }}
                </li>
              </ul>
            </nz-dropdown-menu>
          </div>
        </nz-card>
      </div>
    </ul>
  </nz-header>
  <nz-content>
    <router-outlet></router-outlet>
  </nz-content>
  <nz-footer>
    Copyright © 2020 SIMS TECHNOLOGIES S.A.S
    <button class="cr" nzShape="circle" [nzSize]="'large'" nzType="primary" nzPopoverPlacement="topRight" nz-button nz-popover nzType="primary" [nzPopoverContent]="contentTemplate" (mouseover)="flag= true" (mouseout)="flag = false"><i [nzSpin]="flag" class="nz-icon2" nz-icon nzType="setting" alt="AAAA"></i></button>
    <ng-template #contentTemplate>
      <div>
        <p style="margin:0px; text-align: center;">Developed by <br/> SIMS R&D
          <nz-divider style="margin-top: 10px; margin-bottom: 10px"></nz-divider>
          versión 0.0.0 <br/>
          <a href="mailto:SoporteRD@gruposims.com">SoporteRD@gruposims.com</a>
        </p>
      </div>
    </ng-template>
  </nz-footer>
</nz-layout>
