nz-layout {
  height: 100vh;
  nz-header{
    background: transparent;
    padding-top: 0.5rem;
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: transparent;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      .facturacion-header__card{
        margin-left: 3rem;
        margin-right: 2rem;
        nz-card{
          border-radius: 2rem;
          width: 15rem;
          text-align: center;
        }
      }
    }
    li {
      float: left;
      display: flex;
      justify-content: center;
      align-content: center;
      padding: 1rem;
      a{
        &:hover{
          background: transparent !important;
          color: var(--color-main);
        }
      }
    }



    /* Change the link color to #111 (black) on hover */
    li a:hover {
      background-color: #111;
    }
  }
  nz-footer{
    display: flex;
    background: transparent;
    justify-content: space-between;
    button{
      text-align: center;
    }
  }
}
.cr {
  border-radius: 20px !important;
  -webkit-box-shadow: 9px 11px 21px -12px rgba(0, 0, 0, 0.75) !important;
  -moz-box-shadow: 9px 11px 21px -12px rgba(0, 0, 0, 0.75) !important;
  box-shadow: 9px 11px 21px -12px rgba(0, 0, 0, 0.75) !important;
}
@media screen and (max-width: 820px) {
  nz-header{
    padding-right: 1rem;
    padding-left: 1rem;
    ul {
      .facturacion-header__card{
        margin-left: 1rem !important;
        margin-right: 1rem !important;
      }
    }
    li{
      padding-right: 0.5rem !important;
      padding-left: 0.5rem !important;
    }
  }
}@media screen and (max-width: 700px) {
  nz-header{
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    ul {
      .facturacion-header__card{
        margin-left: 1rem !important;
        margin-right: 1rem !important;
      }
    }
    li{
      padding-right: 0.5rem !important;
      padding-left: 0.5rem !important;
    }
  }
}

.log-s {
  background: url(../../assets/background/home.svg) no-repeat center center;
  background-size: cover;
}

.log-s2 {
  background: url(../../assets/background/others.svg) no-repeat center center;
  background-size: cover;
}


.cambio {
  background-color: white;
  border-color: rgba(35, 145, 213, 1);
  color: rgba(35, 145, 213, 1);
}
