:host {
  align-items: center;
  background-image: url(./../../../assets/background/login.svg);
  background-size: cover;
  display: flex;
  height: 100vh;
  justify-content: center;
}

.auth__forms-container {
  width: 90vw;
  height: 90vh;
}
