nz-card{
  border-radius: 1rem;
  max-width: 35rem;
  min-width: 30rem;
}
.fact-bill-upload__content{
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  p{
    margin: 0 1rem 0 0;
  }
  span{
    cursor: pointer;
  }
}
