<nz-card>
  <nz-upload
    nzType="drag"
    [nzMultiple]="false"
    [nzLimit]="1"
    [nzShowUploadList] = "false"
    [nzShowButton] = "uploadingFile"
    [nzCustomRequest]="customUploadReq">
    <p class="ant-upload-drag-icon">
      <i nz-icon nzType="inbox"></i>
    </p>
    <p class="ant-upload-text">{{'dragAndDrop' | translate}}</p>
  </nz-upload>
  <div *ngIf="uploadingFile" class="fact-bill-upload__content">
    <p> {{name}}</p>
    <span nz-icon nzType="delete" nzTheme="outline" (click)="uploadingFile= false" [nzTheme]="'twotone'" [nzTwotoneColor]="'red'"></span>
  </div>
  <nz-divider></nz-divider>
  <textarea [(ngModel)]="comments" nz-input placeholder="Escriba sus observaciones y descripciones aquí..." [nzAutosize]="{ minRows: 6, maxRows: 8 }"></textarea>
  <nz-divider></nz-divider>
  <input *ngIf="uploadingFile" (click)="uploadData()" type="submit" class="cr" value="Generar" [nzSize]="'large'" nz-button nzType="primary" nzBlock nzShape="round" [nzLoading]="loading">
</nz-card>
