<div *ngIf="loaded" >
  <div class="fact-modal-title">
  <h2> {{'newBill' | translate}}</h2>
  <i style="font-size: 24px;"   nz-icon nzType="exclamation-circle" [nzTheme]="'twotone'" [nzTwotoneColor]="'#F7931E'"></i>
  <span>{{ 'labelModalTitleSpool' | translate}}</span>
  </div>
  <nz-divider class="fact-modal-divider"></nz-divider>

  <div  class="fact-modal-title-bill">
  <p>{{ 'billName' | translate }} : {{excelData.prefix}}{{excelData.consecutive}}</p>
  <p>{{ 'environmentSpool' | translate }}</p>
  <p>{{ 'UBLVersion' | translate }}</p>

  </div>
  <form [formGroup]="billSpoolForm">

    <div class="fact-modal-add-edit-line">
    <div class="fact-modal-add-edit_firstLabel">
      <label>{{ 'TypeBill' | translate }}</label>
    </div>
    <div class="fact-modal-add-label fact-modal-add-label__large">
        <label class="fact-modal-item__text">{{'billNational' | translate}}</label>
    </div>
    <div class="fact-modal-add-edit_label">
      <label>{{ 'prefix' | translate }}</label>
    </div>
    <div class="fact-modal-add-label fact-modal-add-label__small">
      <label class="fact-modal-item__text">{{excelData.prefix}}</label>
    </div>
    <div class="fact-modal-add-edit_label">
      <label>{{ 'consecutive' | translate }}</label>
    </div>
    <div class="fact-modal-add-label fact-modal-add-lastLabel">
      <label class="fact-modal-item__text">{{excelData.consecutive}}</label>
    </div>
  </div>

    <div class="fact-modal-add-edit-line">
      <div class="fact-modal-add-edit_firstLabel">
        <label>{{ 'currency' | translate }}</label>
      </div>
      <div class=" fact-modal-add-label">
        <p class="fact-modal-item__text">{{excelData.currency}}</p>
      </div>
      <div *ngIf="excelData.currency==='USD'" class="fact-modal-add-edit_label">
        <label>{{ 'trm' | translate }}</label>
      </div>
      <div *ngIf="excelData.currency==='USD'" class="fact-modal-add-edit_item fact-modal-add-edit_last">
        <nz-form-control nzHasFeedback >
          <input
            nz-input
            nzSize="small"
            type="text"
            name="trm"
            autocomplete="off"
            formControlName="trm"
            tabindex="1">
        </nz-form-control>
      </div>
      <div class="fact-modal-add-edit_label">
        <label>{{ 'payment' | translate }}</label>
      </div>
      <div class="fact-modal-add-label fact-modal-add-lastLabel">
        <label class="fact-modal-item__text">{{excelData.payment}}</label>
      </div>
    </div>


    <div class="fact-modal-add-edit-line">
      <div class="fact-modal-add-edit_firstLabel fact-modal-add-edit_firstLabel__big">
        <label>{{ 'paymentType' | translate }}</label>
      </div>
      <div class="fact-modal-add-edit_item fact-modal-add-edit_last">
        <nz-form-control nzHasFeedback >
          <nz-select nzSize="small" formControlName="paymentType"  nzShowSearch nzAllowClear >
            <nz-option *ngFor="let option of spoolPayment" [nzLabel]="option.name" [nzValue]="option.key"></nz-option>
          </nz-select>
        </nz-form-control>
      </div>
    </div>

    <div class="fact-modal-add-edit-line">
      <div class="fact-modal-add-edit_firstLabel fact-modal-add-edit_firstLabel__big">
        <label>{{ 'paymentDeadline' | translate }}</label>
      </div>
      <div class="fact-modal-add-edit_item fact-modal-add-edit_last">
        <nz-form-control nzHasFeedback >
          <input
            nz-input
            nzSize="small"
            type="text"
            name="paymentDeadline"
            autocomplete="off"
            formControlName="paymentDeadline"
            tabindex="1">
        </nz-form-control>
      </div>
    </div>

  <div class="fact-modal-add-edit-line">
    <div class="fact-modal-add-edit_firstLabel fact-modal-add-edit_firstLabel__big">
      <label>{{ 'discountBill' | translate }}</label>
    </div>
    <div class="fact-modal-add-edit_item fact-modal-add-edit_last">
      <nz-form-control nzHasFeedback >
        <nz-select nzSize="small" formControlName="discount"  nzShowSearch nzAllowClear >
          <nz-option [nzLabel]=" 'yes' | translate " [nzValue]="1"></nz-option>
          <nz-option [nzLabel]=" 'no' | translate " [nzValue]="0"></nz-option>
        </nz-select>
      </nz-form-control>
    </div>
  </div>

  <div *ngIf="showDiscount" class="fact-modal-add-edit-line">
    <div class="fact-modal-add-edit_firstLabel">
      <label>{{ 'valueDiscount' | translate }}</label>
    </div>
    <div class="fact-modal-add-edit_item fact-modal-add-edit_last">
      <nz-form-control nzHasFeedback >
        <input
          nz-input
          nzSize="small"
          type="text"
          name="valueDiscount"
          autocomplete="off"
          formControlName="valueDiscount"
          tabindex="1">
      </nz-form-control>
    </div>

  </div>

  <span>{{'companyBill' | translate}}</span>

  <div class="fact-modal-add-edit-line">
    <div class="fact-modal-add-edit_firstLabel">
      <label>{{ 'idNumber' | translate }}</label>
    </div>
    <div class="fact-modal-add-label fact-modal-add-label__large">
      <label class="fact-modal-item__text">{{company.numberDocId}}</label>
    </div>
    <div class="fact-modal-add-edit_label">
      <label>{{ 'socialReason' | translate }}</label>
    </div>
    <div class="fact-modal-add-label fact-modal-add-label__large fact-modal-add-lastLabel">
      <label class="fact-modal-item__text">{{company.socialReason | slice:0:15}}</label>
    </div>
  </div>

  <div class="fact-modal-add-edit-line">
    <div class="fact-modal-add-edit_firstLabel">
      <label>{{ 'address' | translate }}</label>
    </div>
    <div class="fact-modal-add-label fact-modal-add-label__large">
      <label class="fact-modal-item__text">{{company.address  | slice:0:20}}</label>
    </div>
    <div class="fact-modal-add-edit_label ">
      <label>{{ 'city' | translate }}</label>
    </div>
    <div class="fact-modal-add-edit_item fact-modal-add-edit_last">
      <nz-select nzSize="small" formControlName="companyCity" nzShowSearch nzAllowClear >
        <nz-option *ngFor="let option of company.otherLocations" [nzLabel]="option.location | translatearray: 'ClientCity'" [nzValue]="option.location"></nz-option>
        <nz-option [nzLabel]="company.mainLocation | translatearray: 'ClientCity'" [nzValue]="company.mainLocation"></nz-option>
      </nz-select>
    </div>
  </div>

  <span>{{'clientBill' | translate}}</span>

  <div class="fact-modal-add-edit-line">
    <div class="fact-modal-add-edit_firstLabel">
      <label>{{ 'idNumber' | translate }}</label>
    </div>
    <div class="fact-modal-add-label fact-modal-add-label__large">
      <label class="fact-modal-item__text">{{client.numberDocId}}</label>
    </div>
    <div class="fact-modal-add-edit_label">
      <label>{{ 'socialReason' | translate }}</label>
    </div>
    <div class="fact-modal-add-label fact-modal-add-label__large fact-modal-add-lastLabel">
      <label class="fact-modal-item__text">{{client.socialReason | slice:0:20}}</label>
    </div>
  </div>

  <div class="fact-modal-add-edit-line">
    <div class="fact-modal-add-edit_firstLabel">
      <label>{{ 'address' | translate }}</label>
    </div>
    <div class="fact-modal-add-label fact-modal-add-label__large">
      <label class="fact-modal-item__text">{{client.address | slice:0:35}}.</label>
    </div>
    <div class="fact-modal-add-edit_label ">
      <label>{{ 'city' | translate }}</label>
    </div>
    <div class="fact-modal-add-label fact-modal-add-label__large fact-modal-add-lastLabel">
      <p class="fact-modal-item__text">{{client.city | translatearray: 'ClientCity'}}</p>
    </div>
  </div>
  <br>

  <div class="fact-modal-add-edit-line">
    <div class="fact-modal-add-edit_firstLabel fact-modal-add-edit-label__total">
      <label><b>{{ 'subTotal' | translate }}</b></label>
    </div>
    <div class="fact-modal-add-edit_item fact-modal-add-edit_last">
      <p class="fact-modal-item__text">{{excelData.total | currency}}</p>
    </div>
    <div class="fact-modal-add-edit_label fact-modal-add-edit-label__total">
      <label><b>{{ 'iva' | translate }}</b></label>
    </div>
    <div class="fact-modal-add-edit_item fact-modal-add-edit_last">
      <p class="fact-modal-item__text">{{excelData.tax | currency}}</p>
    </div>
    <div class="fact-modal-add-edit_label fact-modal-add-edit-label__total">
      <label><b>{{ 'total' | translate }}</b></label>
    </div>
    <div class="fact-modal-add-edit_item fact-modal-add-edit_last">
      <p class="fact-modal-item__text">{{ excelData.tax + excelData.total | currency }}</p>
    </div>
  </div>

  <div class="fact-modal-button">
    <button nz-button nzType="link" (click)="showDetail = !showDetail">
      <span *ngIf="!showDetail"><i nz-icon nzType="caret-down" nzTheme="outline"></i> {{'buttonDetail' | translate}}</span>
      <span *ngIf="showDetail"><i nz-icon nzType="caret-up" nzTheme="outline"></i> {{'buttonNoDetail' | translate}}</span>
    </button>
  </div>

  <div *ngIf="showDetail" class="fact-modal-button">
    <nz-table
      #basicTable
      [nzData]="excelData.products"
      [nzPageSize]="5"
      [nzSize]="'small'">
      <thead>
      <tr>
        <th nzShowExpand></th>
        <th>{{ 'pricePerUnit' | translate}}</th>
        <th>{{ 'amount' | translate}}</th>
        <th>{{ 'subTotal' | translate}}'</th>
        <th>{{ 'tax' | translate}}</th>
        <th>{{ 'taxValue' | translate}}</th>
        <th>{{ 'total' | translate}}</th>
      </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let data of basicTable.data; index as i">
          <tr>
            <td nzShowExpand [(nzExpand)]="mapOfExpandData[i]"></td>
            <td>{{data.pricePerUnit | currency}}</td>
            <td>{{data.amount}}</td>
            <td>{{data.subtotal | currency}}</td>
            <td>{{data.tax * 100}} % </td>
            <td>{{data.subtotalTax | currency}}</td>
            <td>{{ data.total | currency}}</td>
          </tr>
          <tr [nzExpand]="mapOfExpandData[i]">
            <td></td>
            <td colspan="5">{{ data.message }}</td>
          </tr>
        </ng-container>
      </tbody>
    </nz-table>
  </div>
  <nz-divider class="fact-modal-divider"></nz-divider>
  <div nz-row class="fact-modal-add-edit__button">
    <button [nzSize]="'large'" nz-button nzType="primary" (click)="sendSpool()" [nzLoading]="sendBillStatus.loading">{{ 'send' | translate }}</button>
  </div>
  </form>
</div>
<div *ngIf="!loaded" class="fact-modal-loading">
  <i nz-icon [nzType]="'loading'"></i>
</div>
