::ng-deep .ant-form-item-control{
  line-height: 28px !important;
}
:host-context .ant-input{
  margin-right: 1rem;
  border: none;
  box-shadow: none !important;
}

::ng-deep .ant-select {
  margin-right: 1rem;
  &-selection {
    border: 0;
    box-shadow: none !important;
    min-width: 12rem;
    &-selected{
      &-value{
        padding-right: 0 !important;
      }
    }
    &__rendered{
      margin-right: 0 !important;
      max-width: 100%;
    }
  }
  &-open &select {
    box-shadow: none !important;
  }
}

.ant-select-dropdown {
  border: 2rem solid green!important;
  background: #00230b;
  box-shadow: none !important;
}


.fact-modal-item__text{
  margin: 0;
}

.fact-modal-title-bill{
  margin-left: 5rem;
  margin-right: 5rem;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
}

.fact-modal-add-edit_firstLabel__big {
  min-width: 20rem;
  max-width: 20rem;
}
.fact-modal-add-edit_firstLabel__medium {
  min-width: 11rem;
  max-width: 11rem;
}

.fact-modal-add-label{
  padding-bottom: 3px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: 30px;
  background: #f9f9f9;
  flex-grow: 1;
  min-width: 5rem;
  max-width: 7rem;
}
.fact-modal-add-lastLabel{
  border-bottom-right-radius: 1rem;
  border-top-right-radius: 1rem;
}
.fact-modal-add-label__small {
  min-width: 2rem;
  max-width: 4rem;
}
.fact-modal-add-label__large {
  min-width: 8rem;
  max-width: 15rem;
}
.fact-modal-button{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  nz-table{
    width: 850px;
  }
}

.fact-modal-add-edit-label__total{
  label{
    color: var(--color-main)
  }
  .ant-table-wrapper{
    width: 700px;
  }
}
.fact-modal-loading{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  i{
    font-size: 50px;
    color: var(--color-main);
  }
}
