<nz-table [nzPageSize]="5" #basicTable [nzData]="users" nzSize="small">
  <thead>
  <tr>
    <th>{{ 'name' | translate }}</th>
    <th>{{ 'rol' | translate }}</th>
    <th>{{ 'editDelete' | translate }}</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of basicTable.data">
    <td>{{ data.userName }}</td>
    <td>{{ data.rol }}</td>
    <td class="fact-table-buttons">
      <span nz-icon nzType="edit" nzTheme="outline" nz-tooltip (click)="editUserEmitter.emit(data)" [nzTooltipTitle]="'edit' | translate" [nzTheme]="'twotone'" [nzTwotoneColor]="'#F7931E'"	></span>
      <nz-divider nzType="vertical"></nz-divider>
      <span nz-popconfirm [nzPopconfirmTitle]="'confirmDeleteUser' | translate" (nzOnConfirm)="deleteUserEmitter.emit(data._id)" nz-icon nzType="delete" nzTheme="outline" nz-tooltip [nzTooltipTitle]="'delete' | translate" [nzTheme]="'twotone'" [nzTwotoneColor]="'red'"></span>
    </td>
  </tr>
  </tbody>
</nz-table>
