<form  [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
  <i class="center3" nz-icon style="font-size: 32px;color: #1f8fcc;padding: 5px" nzType="lock"></i>
  <h2 class="titulo" style="padding-top: 5px">{{'changePassword' | translate }}</h2>
  <p>{{'changePasswordLabel' | translate}}</p>
  <nz-form-item>
    <nz-form-control nzHasFeedback [nzErrorTip]="oldPswErrorTpl">
      <nz-input-group nzPrefixIcon="lock" [nzSize]="'large'">
        <input nz-input type="password" name="oldPassword" formControlName="oldPassword" autocomplete="on" [placeholder]="'oldPasswordPlaceholder' | translate" tabindex="1" />
      </nz-input-group>
      <ng-template #oldPswErrorTpl let-control>
        <ng-container *ngIf="changePasswordForm.get('oldPassword').hasError('required')">
          {{ 'fillPassword' | translate }}
        </ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control nzHasFeedback [nzErrorTip]="newPswErrorTpl">
      <nz-input-group nzPrefixIcon="lock" [nzSize]="'large'">
        <input nz-input type="password" name="newPassword" formControlName="newPassword" autocomplete="on" [placeholder]="'newPasswordPlaceholder' | translate" tabindex="3" />
      </nz-input-group>
      <ng-template #newPswErrorTpl let-control>
        <ng-container *ngIf="changePasswordForm.get('newPassword').hasError('required')">
          {{ 'fillPassword' | translate }}
        </ng-container>
        <ng-container *ngIf="changePasswordForm.get('newPassword').hasError('notSame')">
          {{ 'sameOldPassword' | translate }}
        </ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control nzHasFeedback [nzErrorTip]="newPsw2ErrorTpl">
      <nz-input-group nzPrefixIcon="lock" [nzSize]="'large'">
        <input nz-input type="password" name="newPassword2" formControlName="newPassword2" autocomplete="on" [placeholder]="'newPassword2Placeholder' | translate" tabindex="3" />
      </nz-input-group>
      <ng-template #newPsw2ErrorTpl let-control>
        <ng-container *ngIf="changePasswordForm.get('newPassword2').hasError('required')">
          {{ 'fillPassword' | translate }}
        </ng-container>
        <ng-container *ngIf="changePasswordForm.get('newPassword2').hasError('notSame')">
          {{ 'sameNewPassword' | translate }}
        </ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <button class=" grad" tabindex="3" nzShape="round" type="submit" nz-button nzType="primary"  [nzSize]="'large'" >{{ 'changePassword' | translate }}</button>
</form>
