<div class ="fact-table-container">
  <nz-card>
    <p class="fact-table-title">{{ 'companies' | translate }}</p>
    <p class="fact-table-label">
      <i nz-icon nzType="info-circle" nzTheme="twotone"></i>
      {{ 'listCompanies' | translate }}
    </p>
    <div class="fact-table-filter">
      <nz-input-group [nzPrefix]="prefixTemplateUser">
        <input type="text"
               nz-input
               name="querySearch"
               [(ngModel)]="querySearch"
               autocomplete="off"
               [placeholder]="'searchPlaceholderCompany' | translate" />
      </nz-input-group>
      <ng-template #prefixTemplateUser><i nz-icon nzType="search" nzTheme="outline"></i></ng-template>
      <a (click)="addOrEditCompany()" class="cr" nz-tooltip [nzTooltipTitle]="'addClient' | translate" nzTooltipPlacement="bottom"  nzType="primary"  nz-button [nzSize]="'large'" nzShape="circle"><i nz-icon nzType="plus" nzTheme="outline"></i></a>
    </div>
    <fact-table-business
      [companies]="companies | async"
      [querySearch] ="querySearch"
      (deleteCompanyEmitter)="deleteCompany($event)"
      (editCompanyEmitter)="addOrEditCompany($event)"
    >
    </fact-table-business>
  </nz-card>
</div>
