.facturacion-home-container{
  height: 80vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h2,h1{
    width: 50vw;
  }
  button{
    padding-right: 7rem;
    padding-left: 7rem;
  }
}
