<div class="facturacion-home-container">
  <h1 nz-title style="color: #1f8fcc;font-size: 270%">
    !Bienvenido!<br/> <br/>EL SISTEMA DE FACTURACIÓN ELECTRÓNICA
  </h1>
  <h2 style="color: #555555">
    Es compatible con el proveedor de servicios tecnológicos, Neat Soluciones Informáticas S.A.S., el cual está avalado por la DIAN para prestar servicios relacionados con la facturación electrónica
  </h2>

  <button *ngIf="flag" [nzSize]="'large'" nz-button nzType="primary" nzShape="round" nzGhost  [routerLink]="['/main/bill']"> <i nz-icon nzType="upload" alt="AAAA"></i> CARGAR FACTURA</button>

</div>
