<form nz-form [formGroup]="signInForm" (ngSubmit)="signIn()">
  <img src="assets/images/Recurso1.svg" class="center" style="width: 150px">
  <nz-divider></nz-divider>
  <nz-form-item>
    <nz-form-control nzHasFeedback [nzErrorTip]="emailErrorTpl">
      <nz-input-group nzPrefixIcon="mail" [nzSize]="'large'">
        <input nz-input type="email" name="email" formControlName="email" autocomplete="on" [placeholder]="'putYourEmailPlaceholder' | translate" tabindex="1" />
      </nz-input-group>
      <ng-template #emailErrorTpl let-control>
        <ng-container *ngIf="signInForm.get('email').hasError('email')">
          {{ 'invalidEmail' | translate }}
        </ng-container>
        <ng-container *ngIf="signInForm.get('email').hasError('required')">
          {{ 'fillEmail' | translate }}
        </ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control nzHasFeedback [nzErrorTip]="passwordErrorTpl">
      <nz-input-group nzPrefixIcon="lock" [nzSize]="'large'">
        <input nz-input type="password" name="password" formControlName="password" autocomplete="on" [placeholder]="'putYourPasswordPlaceholder' | translate" tabindex="2" />
      </nz-input-group>
      <ng-template #passwordErrorTpl let-control>
        <ng-container *ngIf="signInForm.get('password').hasError('required')">
          {{ 'fillPassword' | translate }}
        </ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-divider></nz-divider>
  <button class=" grad" tabindex="3" nzShape="round" type="submit" nz-button  [nzSize]="'large'" [nzLoading]="isLoading">{{ 'signIn' | translate }}</button>
</form>
<button nz-button [nzSize]="'large'" nzType="link" (click)="forgotPassword()">{{ 'forgotPassword' | translate }}</button>

