
::ng-deep .ant-form-item-control{
  line-height: 28px !important;
}
:host-context .ant-input{
  margin-right: 1rem;
  border: none;
  box-shadow: none !important;
}

::ng-deep .ant-select {
  margin-right: 1rem;
  &-selection {
    border: 0;
    box-shadow: none !important;
    min-width: 12rem;
    &-selected{
      &-value{
        padding-right: 0 !important;
      }
    }
    &__rendered{
      margin-right: 0 !important;
      max-width: 100%;
    }
  }
  &-open &select {
    box-shadow: none !important;
  }
}

.ant-select-dropdown {
  border: 2rem solid green!important;
  background: #00230b;
  box-shadow: none !important;
}




.fact-modal-divider-end{
  margin-top: 20px;
  margin-bottom: 10px;
}


.fact-modal-add-edit_item-big{
  width: 15rem !important;
  min-width: 15rem !important;
}

.fact-modal-locations{
  padding-top: 1rem;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: flex-start;
  .fact-modal-locations__button{
    padding-right: 2rem;
    padding-left: 2rem;
  }
  .fact-modal-locations__inputs{
    width: 90%;
  }
}

.fact-modal-add-edit-inputs{
  flex-flow: column;
  .fact-modal-add-edit-inputs__section{
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;
    a{
      margin-top: 0.5rem;
      margin-left: 2rem;
    }
  }
}

.fact-modal-add-edit_item__small{
  min-width: 6rem;
  max-width: 8rem;
}
.fact-modal-add-edit_firstLabel__small{
 min-width: 5rem;
  max-width: 6rem;
}

.fact-modal-add-edit__medium{
  min-width: 8rem;
  max-width: 10rem;
}
