<div class="fact-modal-title">
  <h2 *ngIf="!editing"> {{'newUser' | translate}}</h2>
  <h2 *ngIf="editing"> {{'editUser' | translate}}</h2>
  <i style="font-size: 24px;"   nz-icon nzType="exclamation-circle" [nzTheme]="'twotone'" [nzTwotoneColor]="'#F7931E'"></i>
  <span>{{ 'labelModalTitleUser' | translate}}</span>
</div>
<nz-divider class="fact-modal-divider"></nz-divider>
<form [formGroup]="addEditUserForm">

  <div class="fact-modal-add-edit-line">
    <div class="fact-modal-add-edit_firstLabel">
      <label>{{'docId' | translate}}</label>
    </div>
    <div class="fact-modal-add-edit_item fact-modal-add-edit_last">
      <nz-form-control nzHasFeedback >
        <input
          nz-input
          nzSize="small"
          type="text"
          name="docId"
          autocomplete="off"
          formControlName="docId"
          tabindex="1">
      </nz-form-control>
    </div>
  </div>

  <div class="fact-modal-add-edit-line">
    <div class="fact-modal-add-edit_firstLabel">
      <label>{{'userName' | translate}}</label>
    </div>
    <div class="fact-modal-add-edit_item fact-modal-add-edit_last">
      <nz-form-control nzHasFeedback >
        <input
          nz-input
          nzSize="small"
          type="text"
          name="userName"
          autocomplete="off"
          formControlName="userName"
          tabindex="1">
      </nz-form-control>
    </div>
  </div>

  <div class="fact-modal-add-edit-line">
    <div class="fact-modal-add-edit_firstLabel">
      <label>{{'position' | translate}}</label>
    </div>
    <div class="fact-modal-add-edit_item fact-modal-add-edit_last">
      <nz-form-control nzHasFeedback >
        <input
          nz-input
          nzSize="small"
          type="text"
          name="position"
          autocomplete="off"
          formControlName="position"
          tabindex="1">
      </nz-form-control>
    </div>
  </div>

  <div class="fact-modal-add-edit-line">
    <div class="fact-modal-add-edit_firstLabel">
      <label>{{'email' | translate}}</label>
    </div>
    <div class="fact-modal-add-edit_item fact-modal-add-edit_last">
      <nz-form-control nzHasFeedback >
        <input
          nz-input
          nzSize="small"
          type="text"
          name="email"
          autocomplete="off"
          formControlName="email"
          tabindex="1">
      </nz-form-control>
    </div>
  </div>


  <div class="fact-modal-add-edit-line">
    <div class="fact-modal-add-edit_firstLabel">
      <label>{{'typeUser' | translate}}</label>
    </div>
    <div class="fact-modal-add-edit_item fact-modal-add-edit_last">
      <nz-form-control nzHasFeedback >
        <nz-select nzSize="small" formControlName="rol"  nzShowSearch nzAllowClear >
          <nz-option *ngFor="let option of roles" [nzLabel]="option.name" [nzValue]="option.key"></nz-option>
        </nz-select>
      </nz-form-control>
    </div>
  </div>


  <div nz-row class="fact-modal-add-edit__button">
    <button [nzSize]="'large'" nz-button nzType="primary" (click)="saveUser()" >{{ 'saveUser' | translate }}</button>
  </div>
</form>

