<div class ="fact-table-container">
  <nz-card>
    <p class="fact-table-title">{{ 'users' | translate }}</p>
    <p class="fact-table-label">
      <i nz-icon nzType="info-circle" nzTheme="twotone"></i>
      {{ 'listUsers' | translate }}
    </p>
    <div class="fact-table-filter">
      <nz-input-group [nzPrefix]="prefixTemplateUser">
        <input type="text"
               nz-input
               name="querySearch"
               [(ngModel)]="querySearch"
               autocomplete="off"
               [placeholder]="'searchPlaceholder' | translate" />
      </nz-input-group>
      <ng-template #prefixTemplateUser><i nz-icon nzType="search" nzTheme="outline"></i></ng-template>
      <a (click)="addOrEditUser()" class="cr" nz-tooltip [nzTooltipTitle]="'addUser' | translate" nzTooltipPlacement="bottom"  nzType="primary"  nz-button [nzSize]="'large'" nzShape="circle"><i nz-icon nzType="user-add" nzTheme="outline"></i></a>
    </div>
    <fact-table-users
      [users]="users | async"
      [querySearch] ="querySearch"
      [serviceStatus]="addOrEditUsersStatus | async"
      (editUserEmitter)="addOrEditUser($event)"
      (deleteUserEmitter)="deleteUser($event)">


    </fact-table-users>
<!--    <fact-table-client-->
<!--      [clients]="clients | async"-->
<!--      [querySearch] ="querySearch"-->
<!--      [serviceStatus]="addOrEditClientStatus | async"-->
<!--      (editClientEmitter)="addOrEditClient($event)"-->
<!--      (deleteClientEmitter)="deleteClient($event)"-->
<!--    >-->
<!--    </fact-table-client>-->
  </nz-card>
</div>
