:host {
  align-items: center;
  background: url(./../../../../assets/background/404.svg) no-repeat center center;
  background-size: contain;
  display: flex;
  height: 100vh;
  justify-content: center;
  padding: 10rem;
}
