<nz-table [nzPageSize]="5" #basicTable [nzData]="logs | search: querySearch: servicesTypes.LOGS" nzSize="small">
  <thead>
  <tr>
    <th>{{ 'email' | translate }}</th>
    <th>{{ 'task' | translate }}</th>
    <th>{{ 'time' | translate }}</th>

  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of basicTable.data">
    <td>{{ data.email}}</td>
    <td>{{ data.action }}</td>
    <td>{{ data.time | date:'medium'}}</td>
  </tr>
  </tbody>
</nz-table>
