<div class="fact-modal-title">
  <h2> {{'forgotPassword' | translate}}</h2>

  <i style="font-size: 24px;"   nz-icon nzType="exclamation-circle" [nzTheme]="'twotone'" [nzTwotoneColor]="'#F7931E'"></i>
  <span>{{ 'labelForgotPassword' | translate}}</span>
</div>

<form [formGroup]="forgotPswForm">
  <div class="fact-modal-add-edit-line">
    <div class="fact-modal-add-edit_firstLabel">
      <label>{{'email' | translate}}</label>
    </div>
    <div class="fact-modal-add-edit_item fact-modal-add-edit_last">
      <nz-form-control nzHasFeedback >
        <input
          nz-input
          nzSize="small"
          type="text"
          name="email"
          autocomplete="off"
          formControlName="email"
          tabindex="1">
      </nz-form-control>
    </div>
  </div>
  <div nz-row class="fact-modal-add-edit__button">
    <button [nzSize]="'large'" nz-button nzType="primary" (click)="forgotPsw()" [nzLoading]="forgotPasswordStatus.loading">{{ 'send' | translate }}</button>
  </div>
</form>
