
::ng-deep .ant-form-item-control{
  line-height: 28px !important;
}
:host-context .ant-input{
  margin-right: 1rem;
  border: none;
  box-shadow: none !important;
}

::ng-deep .ant-select {
  margin-right: 1rem;
  &-selection {
    border: 0;
    box-shadow: none !important;
    min-width: 12rem;
    &-selected{
      &-value{
        padding-right: 0 !important;
      }
    }
    &__rendered{
      margin-right: 0 !important;
      max-width: 100%;
    }
  }
  &-open &select {
    box-shadow: none !important;
  }
}

.ant-select-dropdown {
  border: 2rem solid green!important;
  background: #00230b;
  box-shadow: none !important;
}




.fact-modal-divider-end{
  margin-top: 20px;
  margin-bottom: 10px;
}
