/* You can add global styles to this file, and also import other style files */
:root{
  --color-main: #1f8fcc;
  --color-shadow: #a4c0cc;
  --color-text2: #999999;
  --color-text1: #1890ff;
  --color-bacgroud-input: #f2f2f2;
  --color-borde-inputs: #B3B3B3;
}
@import "./theme/cutomiza-ng-zorro";



h1 {
  color: var(--color-main);
  font-size: 3rem;
  line-height: 1.1;
}

.fact-form-container{
  margin: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 100%;
  nz-card {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    width: 90vw;
    max-width: 600px;
    border-radius: 1rem;
    -webkit-box-shadow: 9px 11px 21px -12px rgba(0, 0, 0, 0.75) !important;
    -moz-box-shadow: 9px 11px 21px -12px rgba(0, 0, 0, 0.75) !important;
    box-shadow: 9px 11px 21px -12px rgba(0, 0, 0, 0.75) !important;  }
}

.fact-table-container{
  margin: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 100%;
  nz-card{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    width: 90vw;
    border-radius: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    .fact-table-title{
      font-size: 1.6rem;
      line-height: 1;
      color: var(--color-text1);
      margin-bottom: 0.5rem;
    }
    .fact-table-label{
      font-size: 1.1rem;
      line-height: 1;
      color: var(--color-text2);
      margin-bottom: 1.2rem;
    }
    .fact-table-filter{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      align-content: center;
      text-align: center;
      padding-bottom: 0.7rem;
      nz-input-group{
        width: 50vw;
        input{
          border: 0;
          border-radius: 1rem;
          background: var(--color-bacgroud-input);
        }
      }
      a{
        margin-left: 1rem;
      }
    }
    nz-table{
      width: 85vw;
    }
    nz-pagination{
      display: flex;
      justify-content: center;
    }
  }
}

.app-add-edit-form {
  .ant-modal-footer {
    display: none;
  }

  .fact-modal-footer {
    margin-top: 3rem;
  }
}

.fact-table-buttons{
  min-width: 150px;
  width: 150px;

  &--big {
    width: 205px;
  }
}

// Modal

.fact-modal-title{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  span{
    width: 40%;
    min-width: 300px;
  }
  h2{
    color: var(--color-main);
  }
}
.fact-modal-divider{
  margin-top: 10px;
  margin-bottom: 10px;
}

.fact-modal-add-edit__button{
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  button{
    border-radius: 1.5rem;
    padding-left: 3rem !important;
    padding-right: 3rem !important;
  }
}
.fact-modal-add-edit-line {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  border: 1px solid var(--color-borde-inputs);
  border-radius: 1rem;
  text-align: center;
  align-items: center;
  align-content: center;
  margin-top: 0.4rem;
}

.fact-modal-add-edit_firstLabel {
  padding-bottom: 3px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: 30px;
  background: var(--color-bacgroud-input);
  border-bottom-left-radius: 1rem;
  border-top-left-radius: 1rem;
  flex-grow: 1;
  border-right: 1px solid var(--color-borde-inputs) ;
  min-width: 9rem;
  max-width: 9rem;
}
.fact-modal-add-edit_item{
  flex-grow: 3;
  nz-select{
    width: calc(100% - 0.8rem);
  }

}
.fact-modal-add-edit__small{
  max-width: 5rem;
}
.fact-modal-add-edit_label{
  width: 6rem;
  padding-bottom: 3px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: 30px;
  background: var(--color-bacgroud-input);
  flex-grow: 1;
  border-right: 1px solid var(--color-borde-inputs) ;
  border-left: 1px solid var(--color-borde-inputs) ;
}

.fact-modal-add-edit_last{
  flex-grow: 3;
  margin-right: 1rem;
}
