<div class ="fact-table-container">
  <nz-card>
    <p class="fact-table-title">{{ 'logs' | translate }}</p>
    <p class="fact-table-label">
      <i nz-icon nzType="info-circle" nzTheme="twotone"></i>
      {{ 'listLogs' | translate }}
    </p>
    <div class="fact-table-filter">
      <nz-input-group [nzPrefix]="prefixTemplateUser">
        <input type="text"
               nz-input
               name="querySearch"
               [(ngModel)]="querySearch"
               autocomplete="off"
               [placeholder]="'searchPlaceholder' | translate" />
      </nz-input-group>
      <ng-template #prefixTemplateUser><i nz-icon nzType="search" nzTheme="outline"></i></ng-template>
    </div>
    <fact-table-log
      [logs]="logs | async"
      [querySearch] ="querySearch"
    >
    </fact-table-log>
<!--    <fact-table-client-->
<!--      [clients]="clients | async"-->
<!--      [querySearch] ="querySearch"-->
<!--      [serviceStatus]="addOrEditClientStatus | async"-->
<!--      (editClientEmitter)="addOrEditClient($event)"-->
<!--      (deleteClientEmitter)="deleteClient($event)"-->
<!--    >-->
<!--    </fact-table-client>-->
  </nz-card>
</div>
